<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7fce2af5-a727-4979-bea2-c2b680f8bdb3/resourceGroups/eqocrhack/providers/Microsoft.Web/sites/eqocrhack</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://eqocrhack.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>eqocrhack.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>eqocrhack</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$eqocrhack</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>